.contactContainer {
  display: flex;
  flex-direction: row;
}

.image {
  width: 200px;
}

.contactDetail {
  margin: 0 15px;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.contactItem {
  display: flex;
}

.contactIcon {
  font-size: 26px;
  margin: 4px 15px 0;
}

.contactLink {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #5523a7;
  transition: 0.3s;
}

.contactSocialsContainer {
  align-self: center;
}

.contactSocials {
  text-decoration: none;
  color: #5523a7;
}
