.card {
  width: 200px;
  height: 175px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 0 6px grey;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 12px grey;
}

.cardTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: black;
  width: 100%;
}

.cardText {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #e3e3e38c;
}

.progressBar {
  height: 10px;
  width: 100%;
  margin: 5px auto;
  border-color: black;
}
